@import url(//db.onlinewebfonts.com/c/112ec584bfc481ccde03444e67f8fc3f?family=Circular+Spotify+Tx+T+Bold);

@font-face {
  font-family: "Circular Spotify Tx T Bold";
  src: url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.eot");
  src: url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/112ec584bfc481ccde03444e67f8fc3f.svg#Circular Spotify Tx T Bold")
      format("svg");
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  /*------------------------------------------------------------
  |
  | 1.1 COLOR
  |
  ------------------------------------------------------------*/

  --ui-color-brand: #353535;

  /* COLOR PALETTE */

  --ui-color-n-000: #fff;
  --ui-color-n-025: #fafafa;
  --ui-color-n-050: #f5f5f5;
  --ui-color-n-300: #aeaeae;
  --ui-color-n-500: #353535;
  --ui-color-n-900: #1a1a1a;

  /* TYPOGRAPHY COLOR */

  --ui-color-typography-heading: var(--ui-color-n-500);
  --ui-color-typography-body: var(--ui-color-n-900);
  --ui-color-typography-note: var(--ui-color-n-300);
  --ui-color-typography-button: var(--ui-color-n-000);

  /*------------------------------------------------------------
  |
  | 1.2 TYPOGRAPHY
  |
  ------------------------------------------------------------*/

  --ui-typography-typeface: "Inter", sans-serif;

  /* FONT SIZE */

  --ui-typography-h1: 1.9375rem;
  --ui-typography-h2: 1.5625rem;
  --ui-typography-p: 1rem;
  --ui-typography-s: 0.8125rem;

  /* LEADING */

  --ui-typography-h1-leading: 1.2;
  --ui-typography-h2-leading: 1.2;
  --ui-typography-p-leading: 1.5;

  /* MARGIN */

  --ui-typography-margin-heading: 0.75rem;
  --ui-typography-margin-body: 1.125rem;

  /*------------------------------------------------------------
  |
  | 1.3 LAYOUT
  |
  ------------------------------------------------------------*/

  --ui-layout-container: 1.25rem;
  --ui-layout-grid: 3.625rem;
  --ui-layout-gutter: 1rem;

  /* GAP */

  --ui-gap-cta: 0.75rem;
  --ui-gap-hero: 2rem;

  /* BORDER RADIUS */

  --ui-radius-avatar: 5rem;
  --ui-radius-button: 5rem;
}

/*--------------------------------------------------------------
2.0 FOUNDATION
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-typography-body);
  font-family: var(--ui-typography-typeface);
  font-feature-settings: "liga", "kern";
  font-size: var(--ui-typography-p);
  font-weight: 400;
  line-height: var(--ui-typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------
3.0 TYPOGRAPHY
--------------------------------------------------------------*/

a {
  color: var(--ui-color-brand);
  text-decoration: none;
}

h1,
h2,
p,
ul {
  margin-top: 0;
}

h1,
h2 {
  color: var(--ui-color-typography-heading);
  margin-bottom: var(--ui-typography-margin-heading);
}

h1 {
  font-size: var(--ui-typography-h1);
  line-height: var(--ui-typography-h1-leading);
}

h2 {
  font-size: var(--ui-typography-h2);
  line-height: var(--ui-typography-h2-leading);
}

p,
ul {
  margin-bottom: var(--ui-typography-margin-body);
}

p:last-child,
ul:last-child {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

strong {
  font-weight: 700;
}

small {
  font-size: var(--ui-typography-s);
}

.ui-text-note {
  color: var(--ui-color-typography-note);
  line-height: 1;
}

/*--------------------------------------------------------------
4.0 IMAGE
--------------------------------------------------------------*/

img,
svg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/*--------------------------------------------------------------
5.0 LAYOUT
--------------------------------------------------------------*/

.ui-layout-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ui-layout-flex,
.ui-layout-grid {
  align-items: center;
  justify-content: center;
}

.ui-layout-flex {
  display: flex;
}

.ui-layout-grid {
  display: grid;
}

/*--------------------------------------------------------------
|
| 6.2 BUTTON
|
--------------------------------------------------------------*/

.ui-component-button {
  border-radius: var(--ui-radius-button);
  display: block;
  font-weight: 100;
  line-height: 1;
  text-align: center;
  box-shadow: 1px 1px 1px gray;
}

.ui-component-button-primary {
  background-color: #1db954;
  color: var(--ui-color-typography-button);
  font-family: "Circular Spotify Tx T Bold";
  font-size: 20px;
  text-shadow: 1px 1px 1px pink;
}
.ui-component-button-primary:hover {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.ui-component-button-primary:hover,
.ui-component-button-primary:focus,
.ui-component-button-primary:active {
  transform: scale(1.1);

}
.ui-component-button-normal {
  padding: 1.75rem 2rem 1.75rem;
  width: fit-content;
}

/*--------------------------------------------------------------
|
| 7.1 HEADER
|
--------------------------------------------------------------*/

.ui-section-header {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.ui-section-header__layout {
  justify-content: space-between;
}

/*--------------------------------------------------------------
|
| 7.2 HERO
|
--------------------------------------------------------------*/

.ui-section-hero {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    /* FONT SIZE */

    --ui-typography-h1: 2.1875rem;
    --ui-typography-h2: 1.75rem;
    --ui-typography-p: 1.125rem;
    --ui-typography-s: 0.875rem;

    /* MARGIN */

    --ui-typography-margin-body: 1.25rem;

    /*----------------------------------------------------------
     |
     | LAYOUT
     |
     ----------------------------------------------------------*/

    --ui-layout-container: 4.25rem;
    --ui-layout-gutter: 1.5rem;

    /* GAP */

    --ui-gap-hero: 3rem;
  }

  /*------------------------------------------------------------
   COMPONENT
   ------------------------------------------------------------*/

  /*------------------------------------------------------------
   |
   | LIST
   |
   ------------------------------------------------------------*/

  .ui-component-list--item {
    background-size: 1.25rem;
    padding-left: 2rem;
  }

  /*------------------------------------------------------------
   SECTION
   ------------------------------------------------------------*/

  /*------------------------------------------------------------
   |
   | HEADER
   |
   ------------------------------------------------------------*/

  .ui-section-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#full-size {
  height: 100%;
  width: 100%;
  overflow: hidden; /* or overflow:auto; if you want scrollbars */
}

.indexBody {
  color: rgb(var(--foreground-rgb));
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.imageHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 20px 100px;
  padding: 40px 20px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}


.ui-layout-container-sidebar{
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ui-section-header__layout {
  margin-top: 30px;
}